/*
 * SANGJAE - Main Layout
 */

.notice_caution{
  padding: 1em;
  padding-bottom: 0;
  text-align: left;
  border: 1px solid #ccc;
  border-left-width: 10px;
  background-color: #f3d3d3f5;
  border-left-color: #dd160f;
  margin-bottom: 1em;
  margin-top: .75em;
}

.notice ul{
  margin: 0;
}

.notice{
  padding: 1em;
  text-align: left;
  border: 1px solid #ccc;
  border-left-width: 10px;
  background-color: #eaf2e9;
  border-left-color: #28a745;
  margin-bottom: 1em;
  margin-top: .75em;
}

.code_example{
   padding-top: 1em;
 }

p{
  margin: 0;
}

tr a{
  text-decoration: underline;
}

.detail_description{
  margin-left: 20px;
}

.detail_code {
    padding: 0px;
    font-weight: bold;
    font-family: "Courier New", "Courier", "monospace";
    font-size: 100%;
}

.draw_line{
  border-bottom: 2px solid #888;
}

.func{
  padding-bottom: 2em;
}

.function_table{
  padding-top: 1em;
}

.function_detail{
  padding-top: 3em;
}

 .problem_container{
     margin-bottom: 50px;
 }
 
 .sampledata{
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    font-size: 18px;
    font-family: Menlo, Monaco, 'Source Code Pro', consolas, monospace;
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;

    overflow-x: scroll;
  }
  
  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
  }
  
  .problem_text{
    font-size: medium;
    line-height: 30px;
  }
  
.headline_danger{
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 3px solid #ff3333;
}

  .headline{
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 2px solid #428bca;
  }
