/*
 * SANGJAE - Main Layout
 */



p{
  margin: 0 0 10px 0;
}

ul{
  margin: 0 0 10px 0;
}

 .problem_container{
     margin-bottom: 50px;
 }
 
 .sampledata{
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    font-size: 18px;
    font-family: Menlo, Monaco, 'Source Code Pro', consolas, monospace;
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;

    overflow-x: scroll;
  }
  
  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
  }
  
  .problem_text{
    font-size: medium;
    line-height: 30px;
  }
  
.headline_danger{
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 3px solid #ff3333;
}

  .headline{
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 2px solid #428bca;
  }